<h1> Add Book</h1>
<form action="/Login/RegUser" method="post" enctype="multipart/form-data">
   <p>Tiyle:             <p/> <input type="text" name="Name" />
       @if (!String.IsNullOrEmpty(err?[1])) @err[1]
   <p>Author:          <p/> <input type="text" name="Surname" /> 
       @if (!String.IsNullOrEmpty(err?[2])) @err[2]
   <p>Date of Bith:     <p/> <input type="date" name="DateOfBith"/>
       @if (!String.IsNullOrEmpty(err?[3])) @err[3]
   <p>Login:            <p/> <input type="text" name="Login" /> 
       @if (!String.IsNullOrEmpty(err?[4])) @err[4]
   <p>Email:            <p/> <input type="email" name="Email" /> 
       @if (!String.IsNullOrEmpty(err?[5])) @err[5]
   <p>Password:         <p/> <input type="password" name="Password" /> 
       @if (!String.IsNullOrEmpty(err?[6])) @err[6]
   <p>Confirm password: <p/> <input type="password" name="ConfirmPass" /> 
       @if (!String.IsNullOrEmpty(err?[7])) @err[7]
   <p>Avatar:           <p/> <input type="file" name="Avatar"/> <br /> 
       @if (!String.IsNullOrEmpty(err?[8])) @err[8]
   <button>Registration </button>
</form>