@{
    var err = ViewData["err"] as String[];
}
<link rel="stylesheet" href="~/css/registration.css" asp-append-version="true" />
<div class="Regestration">
    <h1 class="TitleRegistration">
        Registration User
    </h1>
    <div class="Form">
        <form action="/Login/RegUser" method="post" enctype="multipart/form-data">
            <input id="Avatar" type="file" name="Avatar" /> <br />
            <label id="AvatarImg" for="Avatar">
                <img src="/icons/android_contacts_FILL0_wght400_GRAD0_opsz48.png" />
            </label>
            @if (!String.IsNullOrEmpty(err?[8]))
                @err[8]
       <p>Name:             </p> <input type="text" name="Name" /> <br/>
          <p class="Error">@if (!String.IsNullOrEmpty(err?[1])) @err[1]</p> 
       <p>Surname:          </p> <input type="text" name="Surname" /> <br/>
         <p class="Error">  @if (!String.IsNullOrEmpty(err?[2])) @err[2]  </p>
       <p>Date of Bith:     </p> <input type="date" name="DateOfBith"/> <br/>
         <p class="Error">  @if (!String.IsNullOrEmpty(err?[3])) @err[3] </p>
       <p>Login:            </p> <input type="text" name="Login" /> <br/>
         <p class="Error">  @if (!String.IsNullOrEmpty(err?[4])) @err[4] </p>
       <p>Email:            </p> <input type="email" name="Email" /> <br/>
          <p class="Error"> @if (!String.IsNullOrEmpty(err?[5])) @err[5] </p>
       <p>Password:         </p> <input type="password" name="Password" /> <br/>
        <p class="Error">   @if (!String.IsNullOrEmpty(err?[6])) @err[6] </p>
       <p>Confirm password: </p> <input type="password" name="ConfirmPass" /> <br/>
          <p class="Error"> @if (!String.IsNullOrEmpty(err?[7])) @err[7] </p>

       <br />
       <button>Registration </button>
    </form>
    </div>
</div>
    <script>
        var avatar = document.getElementById("Avatar");
        var avatarImg = document.querySelector("#AvatarImg img");
        avatar.addEventListener("change", () => {
            let f = avatar.files[0];
            if (f) {
                avatarImg.src = URL.createObjectURL(f);
                localStorage.setItem('myImage', avatarImg.src);
            }
            avatarImg.src = localStorage.getItem('myImage')
        })
    </script>